<!-- <!DOCTYPE html>
<html>
  <head>
    <h1>创建新书</h1>
  </head>
  <body>
    <form action="createa" method="post">
      书名:<br>
      <input type="text" name="book_title">
      <br>
      简介:<br>
      <input type="textarea" name="book_text">
      </br>
      <input type="submit" "提交">
    </form>
  </body>
</html> -->

<h1>新书上架</h1>
<%= form_for @book do |f| %>
  <p>
    <%= f.label "书名" %> </br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "简介" %> </br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label "状态" %> </br>
    <%= f.select 'book_state', options_for_select(['上架', '下架']) %>
  </p>

  <p>
    <%= f.label "库存" %> </br>
    <%= f.number_field :book_stock %>
  </p>

  <p>
    <%= f.submit '提交'%>
  </p>
<% end %>

<%= link_to '返回', books_path %>
